/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
body, html {
  height: 100%;
}

/* line 15, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
body {
  font: 14px/1.1em Arial, sans;
  background-color: #969696;
}

/* line 20, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.main {
  width: 100%;
}

/* line 24, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.content {
  width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #d4d4d4;
  box-sizing: border-box;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -ms-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

/* line 34, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.calendar {
  padding-bottom: 10px;
}

/* line 38, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.calendar > .ui-datepicker {
  margin: 0 auto;
}

/* line 42, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.hint {
  font-size: 12px;
  color: #00008b;
}

/* line 47, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.add-dialog input {
  width: 200px;
}

/* line 51, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.add-dialog label {
  width: 190px;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 57, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.add-dialog textarea {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  resize: none;
  box-sizing: border-box;
}

/* line 65, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.button {
  background-color: #eee;
  padding: 8px 18px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  color: #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
}

/* line 75, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
#date-for-head-list {
  padding: 1px 2px;
}

/* line 79, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.none {
  display: none;
}

/* line 83, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.add-panel {
  border: 1px inset;
  padding: 20px 0;
  border-width: 1px 0 1px 0;
  margin: 0 -20px;
  text-align: center;
}

/* line 91, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.task-list {
  padding: 20px 0;
}

/* line 95, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.task-list-head {
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
  display: inline-block;
}

/* line 101, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.task-list-table {
  width: 100%;
  margin-top: 14px;
}

/* line 106, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.task-list-table th {
  text-align: left;
  font-weight: normal;
  padding: 6px;
  background-color: #eee;
  border: 1px solid gray;
}

/* line 114, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.task-list-table td {
  padding: 6px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

/* line 121, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.action {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* line 128, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.action-edit {
  background-image: url(../img/edit.png);
}

/* line 132, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.action-delete {
  background-image: url(../img/delete.png);
}

/* line 136, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.tr_task:hover td {
  background-color: #eee;
}

/* line 140, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.td_action {
  width: 40px;
  text-align: center;
}

/* line 145, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.pseudolink {
  color: gray;
  border-bottom: 1px dashed gray;
  display: inline-block;
  cursor: pointer;
}

/* line 152, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.load {
  width: 16px;
  height: 11px;
  background: url(../img/ajax-loader.gif) no-repeat;
  margin: 30px auto 0;
}

/* line 159, c:/WebServers/home/Todo-Kohana/www/css/planner/sass/screen.scss */
.task-body-inner {
  border: 1px solid gray;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}
